@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

// can I make the fonts variables?
:root {
    --headers: 'Lora';
    --body-font: helvetica, arial, sans-serif;
}

// variables
$primary-color: #333;
$light-grey: #d0d0d0;
$secondary-color: #666;

// set breakpoint sizes
$break-small: 20em;
$break-large: 600px;

// media query mixin
@mixin breakpoint($break) {
    @if $break == large {
    @media (min-width: $break-large) { @content; }
    }
    // @else if $break == medium {
    // @media (max-width: $break-medium) { @content; }
    // }
    @else if $break == small {
    @media (max-width: $break-small) { @content; }
    }
}

body {
    @include breakpoint(large) { 
        max-width: 100%; 
        nav {margin-bottom: 1rem;} 
        nav ul li {padding: 1rem;} 
        nav ul { display: flex; justify-content: right;}
        article{ display: grid; grid-template-columns: .25fr 1fr;}
        .post-content{ border: 1px solid $light-grey; border-top: none; border-right: none; }
    }
}

h1 a{
    font-family: var(--headers);
    color: $primary-color;
    font-size: larger;
}

h2{
    font-family: var(--headers);
    color: $secondary-color;
}

.post-date{
    color: $primary-color;
    text-align: right;
    padding-right: 1rem;
}

.post-content{
    border-top: $light-grey solid 2px;
    border-bottom: $light-grey solid 2px;
}

.post-content h2, .post-content p{
    text-align: left;
    padding-left: 1rem;
}

body {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    font-family: var(--body-font);
    color: $primary-color;
}

nav{
    border-top: $light-grey solid 3px;
    border-bottom: $light-grey solid 3px;
    font-size: large;
}

a{
    color: $secondary-color;
    text-decoration: none;
}

nav ul li a:visited {
    color: $secondary-color;
}


nav ul li a:hover {
    color: #00ddff;
}

nav ul li a:active {
    color: #DEB887;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

// idk why this didn't work
// nav ul li a{
//         &:active {
//             color: #DEB887;
//         }

//         &:hover {
//             color: #00ddff;
//         }

//         &:visited {
//             color: $secondary-color;
//         }
// }

nav ul li {
    padding: 0.25rem;
    font-size: large;
    font-weight:500;
}
